<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDx9atLNSh_VvLjfSPxPMsRB_ivurs23Z4</string>
	<key>GCM_SENDER_ID</key>
	<string>560724875652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nursingQuizApp6</string>
	<key>PROJECT_ID</key>
	<string>nursingquizapp6</string>
	<key>STORAGE_BUCKET</key>
	<string>nursingquizapp6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560724875652:ios:7e48a5c85e97271282a5d1</string>
</dict>
</plist>